name: Prepare release

on:
  workflow_dispatch:
  pull_request:
    types:
      - closed
      - labeled
      - unlabeled
    branches:
      - main

jobs:
  candidate:
    if: github.event_name == 'workflow_dispatch' || (github.event.pull_request.merged && !startsWith(github.head_ref, 'promote/'))
    permissions:
      contents: write
      pull-requests: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Preparing the next main release
        uses: ./
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          develop-branch: main
          version-files: package.json